* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 50vh;
  position: relative;
}

.ball {
  box-shadow: 0 0 10px grey;
  background: linear-gradient(
    -45deg,
    rgb(235, 67, 95),
    rgba(128, 128, 128, 0.61),
    rgb(117, 182, 243)
  );
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
