.grid {
  min-height: 50vh;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  justify-content: center;
  align-content: center;
  align-items: center;
}

.item {
  width: 5rem;
  background-color: rgb(240, 217, 87);
  border-radius: 10rem 1rem 10rem 1rem;
  box-shadow: 0 0 5px grey;
}

.item1,
.item6 {
  height: 20rem;
}

.item2,
.item5 {
  height: 30rem;
}

.item3,
.item4 {
  height: 40rem;
}
